.home {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.home__left {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home__right {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__left > img {
  object-fit: contain;
  width: 40%;
  height: 40%;
}

