.home {
  height: 80vh;
  display: flex;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .home {
      flex-direction: column;
  }
  .home__left {
    flex: 0.7 !important;
  }
  .home__right {
    flex: 0.3 !important;
  }
}

.home__left {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.home__right {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  overflow: auto;
}

.home__left > img {
  object-fit: contain;
  width: 40%;
  height: 40%;
}

.home__download {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  text-shadow: 1px 1px gray;
  box-shadow: 5px 5px 5px gray;
}

.home__download:hover {
  transform: scale(1.1);
}