.home {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.home > img {
    object-fit: contain;
    width: 25%;
    height: 25%;
    border-radius: 20%;
    padding: 30px;
}

.home > h1, .home > h3 {
    color: gray;
}