.projects {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .projects {
      flex-direction: column;
  }
}