.accordion {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0.5px;
}

.accordion__header {
    display: flex;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.accordion__header:hover {
    opacity: 0.9;
}

.accordion__body {
    display: block;
    background-color: gray;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1; }
}