.skills {
  display: flex;
  flex-direction: column;
}

.skills__title {
  text-align: center;
}

.skills__key {
  color: gray;
  font-size: 13px;
}

.skills__value {
    font-size: 13px;
}

.skills__list {
    list-style: none;
    padding-left: 20px;
    padding-right: 10px;
}
